theme = "haborg"

[keys.normal]
esc = ["collapse_selection", "keep_primary_selection"]
V = ["goto_first_nonwhitespace", "extend_to_line_end"]
D = ["ensure_selections_forward", "extend_to_line_end"]
x = "extend_line"
# Disable ´d´ and ´c´ yanking (yank with ´yd´ or ´yc´)
d = "delete_selection_noyank"
c = "change_selection_noyank"
C-q = ":buffer-close"
C-h = ":buffer-previous"
C-l = ":buffer-next"
# Disable arrow keys >:)
up = "no_op"
down = "no_op"
left = "no_op"
right = "no_op"

"*" = ["move_char_left", "move_next_word_end", "move_prev_word_start", "search_selection_detect_word_boundaries", "global_search"]

[keys.normal.space]
l = ":toggle lsp.display-inlay-hints"
x = ":toggle whitespace.render all none"
m = [":insert-output echo -n \"<<<<<<< HEAD\"", "search_selection", "undo", "global_search"]

[keys.select]
";" = ["collapse_selection", "normal_mode"]
x = "extend_line"
V = "extend_to_line_end"
# Disable ´d´ and ´c´ yanking (yank with ´yd´ or ´yc´)
d = "delete_selection_noyank"
c = "change_selection_noyank"
# Disable arrow keys >:)
up = "no_op"
down = "no_op"
left = "no_op"
right = "no_op"

[keys.insert]
# Disable arrow keys >:)
up = "no_op"
down = "no_op"
left = "no_op"
right = "no_op"

# Maps `jk` to exit insert mode
j = { k = "normal_mode" }

# Unmap esc from exiting insert mode >:) (use the above binding)
esc = "no_op"

[editor]
line-number = "relative"
scroll-lines = 5
scrolloff = 15
idle-timeout = 0
completion-timeout = 5
preview-completion-insert = false
completion-trigger-len = 1
bufferline = "always"
popup-border = "all"

[editor.cursor-shape]
insert = "bar"
select = "underline"

[editor.file-picker]
hidden = true

[editor.lsp]
display-messages = true

[editor.indent-guides]
render = true
skip-levels = 1
character = "╎"

[editor.statusline]
right = ["diagnostics", "selections", "position", "position-percentage", "file-encoding"]

[editor.soft-wrap]
enable = true
